html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Inter';
    font-weight: 400;
    color: #FFFFFF;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

h1, h2 {
    margin: 0;
}

button {
    background-color: transparent;
    border: none; 
}

body {
    background-color: #111827;
}

.wrapper {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 550px;
}

.converter-top {
    background-color: #6943FF;
    text-align: center;
    padding: 55px 25px 34px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.converter-title {
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.03em;
}

.converter-input {
    display: inline-block;
    border: 2px solid #B295FF;
    border-radius: 5px;
    width: 117px;
    height: 83px;
    background-color: transparent;
    font-weight: 800;
    font-size: 58px;
    line-height: 24px;
    text-align: center;
    color: inherit;
    margin-top: 30px;
}

.converter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3D3D3D;
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 8px 25px;
    margin-top: 25px;
    cursor: pointer;
    position: relative;
    transition: all .3s ease-out;
}

.converter-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.converter-btn:active {
    transform: translateY(4px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.converter-btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s;
}

.converter-btn::after {
    background-color: #fff;
}

.converter-btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.converter-btn {
    animation: moveInBottom .7s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.converter-bottom {
    background-color: #1F2937;
    padding: 35px 25px;
}

.converter-block {
    background: #273549;
    border-radius: 4.68077px 0px 0px 0px;
    padding: 31px 0px 18px 0px;
    text-align: center;
}

.converter-block:not(:last-child) {
    margin-bottom: 23px;
}

.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #CCC1FF;
    margin-bottom: 15px;
}

.output {
    font-size: 14px;
    line-height: 20px;
}
